@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

.login__bg {
  /* background-color: red; */
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: #1e074a;
}
